:root {
    --subheadingColor: rgba(0, 0, 0, 0.54);
    --mainBackgroundColor: rgb(248, 248, 246);
    --mainTextColor: #000000CC;
    --largeCodeBlocksColor: #333;
    /* --largeCodeBlocksColor: #0451A5; */
    --codeKeywordColor: #0000FF;
    --codeVariableColor: #0451A5;
    --codeFunctionColor: #795E26;
    --codeStatementColor: #A31515;
    --codeCommentColor: #008000;
    --largeCodeBlocksBackground: #f8f8f8;
    /* --largeCodeBlocksBackground: hsl(0, 0%, 11%); */
    --smallCodeBlocksColor: #c7254e;
    --smallCodeBlocksBackground: #f9f2f4;
    --greyBordorColor: lightgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
}

body,
.wrapper {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    color: var(--mainTextColor);
    font-size: 1.125rem;
}

.content {
    width: clamp(10rem, 70%, 55rem);
}

h1,
h2 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    margin-block: 2rem 0.5rem;
}

h2 {
    font-size: 1.6875rem;
    margin-block: 2rem 0.5rem;

}

p,
li {
    margin-bottom: 1rem;
    line-height: 1.65;
}

pre code {
    display: block;
    white-space: pre;
    padding: 0.5rem;
    line-height: 1.6;
    overflow-x: auto;
    font-size: 0.875rem;
    color: var(--largeCodeBlocksColor);
    background: var(--largeCodeBlocksBackground);
}

code {
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--smallCodeBlocksColor);
    background-color: var(--smallCodeBlocksBackground);
    overflow-x: auto;
    font-family: 'Source Code Pro',
        monospace;
}

.keyword {
    color: var(--codeKeywordColor);
}

.function {
    color: var(--codeFunctionColor);
}

.variable {
    color: var(--codeVariableColor);
}

.statement {
    color: var(--codeStatementColor);
}

.comment {
    color: var(--codeCommentColor);
    font-style: italic;
}

ol {
    padding-left: 3rem;
}

.subheading {
    margin-top: 0;
    font-size: 1.25rem;
    color: var(--subheadingColor)
}

.graph {
    display: flex;
    justify-content: center;
}

.svg-wrapper {
    width: 100%;
    position: relative;
}

svg {
    width: 100%;
    height: 70vh;
    border: 1px solid var(--greyBordorColor);
    border-radius: 0.4rem;
}

.nodes:hover {
    cursor: grab;
}

.tooltip {
    position: absolute;
    min-width: 0.1rem;
    padding: 0.6rem;
    background-color: var(--mainBackgroundColor);
    border: 1px solid black;
    border-radius: 0.3rem;
}

.tooltip a {
    display: flex;
    word-break: break-all;
    text-decoration: none;
    color: black;
}

.tooltip-clickme {
    margin-top: 0.2rem;
}

.tooltip a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.tooltip a:visited {
    color: inherit;
}

.tooltip-fullLink {
    padding: 0.1rem;
    position: absolute;
    left: 1px;
    border: 1px solid black;
    border-radius: 0 0.2rem 0 0.3rem;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.89);
    background-color: rgba(0, 0, 0, 0.788);
    transition: opacity 0.3s;
}

.description {
    font-size: 0.875rem;
    color: var(--subheadingColor)
}

.form-wrapper {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
}

.form-container {
    width: clamp(20rem, 50%, 30rem);
}

.form-wrapper form {
    width: 100%;
}

.form-wrapper input {
    margin-top: 0.4rem;
    width: 100%;
    height: 2.3rem;
    padding-left: 0.5rem;
    border: 1px solid var(--greyBordorColor);
    border-radius: 0.2rem;
}

.examplesGallery {
    margin-block: 3.5rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.galleryItem {
    position: relative;
    cursor: pointer;
}

.galleryItem:after {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translate(-50%, 0);
}

#galleryItem1:hover::after {
    content: 'Github';
}

#galleryItem2:hover::after {
    content: 'MDN';
}

#galleryItem3:hover::after {
    content: 'Google';
}

.examplesGallery img {
    max-width: 100%;
}

.noTopMargin {
    margin-top: 0;
}

.myLink,
.myLink:visited {
    color: var(--smallCodeBlocksColor);
    text-decoration: none;
}

.myLink:hover {
    text-decoration: underline;
}


/* @media only screen and (max-width: 768px) {} */